<head>
  <title>RE-FUSE</title>
  <script src="https://www.youtube.com/iframe_api"></script>

</head>

<body>
  <div class="container" ng-app="simple-todos" ng-controller="TodosListCtrl">

    <login-buttons ng-hide="$root.currentUser"></login-buttons>

    <div id="user">
      <div id="welcome" ng-show="currentAction.type == 'welkom'">
        <h1>Hey
          {{ $root.currentUser.username }}</h1>
        <hr>
        <h1>Welcome to RE-FUSE - DAY THREE</h1>
        <h2 ng-hide="$root.currentUser.username">Please create an account in the top left corner. Click Sign In > Create Account. Fill in your first name and type your password twice. Once you create your account the Sign in icon will disappear.</h2>
      </div>

      <div id="video" ng-show="currentAction.type == 'play_video'">
        <youtube-video video-id="currentAction.options.video_id" player-width="'100%'" player-vars="playerVars" player-height="'600px'" player="bestPlayer"></youtube-video>
      </div>

      <div id="live_stream" ng-show="currentAction.type == 'live_stream'">
        <h1>Hey
          {{ $root.currentUser.username }}</h1>
        <hr>
        <a href="https://hangouts.google.com/call/fwqa3bdcx3il2qknubkmn2fpaea" target="_BLANK">CLICK HERE TO JOIN THE LIVE STREAM</a>
      </div>

      <div id="questions" ng-show="currentAction.type == 'ask_questions'">
        <h1>Answer these questions</h1>
        <h3>You have 10 minutes</h3>
        <timer countdown="600" interval="1000" autostart="false">
          <div class="progress active {{displayProgressActive}}" style="height: 30px;">
            Remaining time :
            {{countdown}}
            second{{secondsS}}

            <div class="bar" style="min-width: 2em;width: {{progressBar}}%;"></div>
          </div>

        </timer>

        <form>
          <div class="form-group" ng-show="answering">
            <label>What do you expect from this platform? (ca. 5 lines)</label>
            <textarea class='answer' rows='4' style='width:100%;' class="form-control" ng-model='answer.a'>
            </textarea>
            <label>What do you expect from our first workshop? (ca. 5 lines)</label>
            <textarea class='answer' rows='6' style='width:100%;' class="form-control" ng-model='answer.b'>
            </textarea>
            <label>What are you interested in exploring/researching further in your work this period (regardless the music-theater field)? (ca. 5 lines)</label>
            <textarea class='answer' rows='4' style='width:100%;' class="form-control" ng-model='answer.c'>
            </textarea>
            <button class='btn btn-primary' ng-click='newAnswer(answer)'>Submit Answers (Do this when the timer is up only & you are logged in!)</button>
          </div>
        </form>
      </div>
    </div>

    <div id="admin" ng-show="$root.currentUser.username == 'kieran'">
  <!-- <input type="input" ng-model="currentStep"> -->
  <h1>step {{ currentStep }}</h1>
  <button ng-click="setStep(currentStep + 1)">+ NEXT</button>
  <button ng-click="setStep(currentStep - 1)">- prev</button>
  <hr>
  <ul>
    <li ng-repeat="(index, step) in steps">
      <span ng-click="setStep(index)">
        <span ng-show="index == currentStep">🏀🏀🏀</span>
        {{index}} -
        {{ step.text }}
      </span>
    </li>
  </ul>
  <hr>
  <h2>Answers</h2>

  <ul>
    <h1>total in: {{ answers.length }}</h1>
    <h4>'Efthimis', 'Kieran', 'Roelof', 'George', 'Iro', 'Tzeni', 'Richard', 'Els', 'Pepe', 'Bas', 'Thanasis'</h4>
    <li ng-repeat="ans in answers">
      {{ ans.username }}
    </li>
  </ul>
  <ul>
    <h1>total in: {{ answers.length }}</h1>
    <li ng-repeat="ans in answers">
      {{ ans }} <button ng-click="destroyAnswer(ans._id)">x</button>
    </li>
  </ul>

</div>

    </div>
  </body>
