<head>
  <title>RE-FUSE</title>
  <script src="https://www.youtube.com/iframe_api"></script>

</head>

<body>
  <div class="container" ng-app="simple-todos" ng-controller="TodosListCtrl">

    <login-buttons ng-hide="$root.currentUser"></login-buttons>

    <div id="user">
      <div id="welcome" ng-show="currentAction.type == 'welkom'">
        <h1>Hey
          {{ $root.currentUser.username }}</h1>
        <hr>
        <h1>Welcome to RE-FUSE - DAY TWO</h1>
        <h2 ng-hide="$root.currentUser.username">Please create an account in the top left corner. Click Sign In > Create Account. You will se your name and the Sign in window will disappear.</h2>
      </div>

      <div id="video" ng-show="currentAction.type == 'play_video'">
        <youtube-video video-id="currentAction.options.video_id" player-width="'100%'" player-vars="playerVars" player-height="'600px'" player="bestPlayer"></youtube-video>
      </div>

      <div id="questions" ng-show="currentAction.type == 'ask_questions'">
        <h1>Answer these questions</h1>
        <h3>You have 8 minutes</h3>
        <timer countdown="480" interval="1000" autostart="false">
          <div class="progress active {{displayProgressActive}}" style="height: 30px;">
            Remaining time :
            {{countdown}}
            second{{secondsS}}

            <div class="bar" style="min-width: 2em;width: {{progressBar}}%;"></div>
          </div>

        </timer>

        <form>
          <div class="form-group">
            <label>Vraag 1</label>
            <textarea class='answer' rows='20' style='width:100%;' class="form-control">
            </textarea>
          </div>
        </form>
      </div>
    </div>

    <div id="admin" ng-show="$root.currentUser.username == 'kieran'">
  <input type="input" ng-model="currentStep">
  <button ng-click="currentStep = currentStep + 1">+ NEXT</button><button ng-click="currentStep = currentStep - 1">- prev</button>
  <hr>
  <ul>
    <li ng-repeat="(index, step) in steps">
      <span ng-show="index == currentStep">###</span>
      {{index}} -
      {{ step.text }}
    </li>
  </ul>
  <!-- <button ng-click="say('Hi')"># Hi</button>
        <button ng-click="newAction('welkom',null)">Welkom</button>
        <button ng-click="say('Hi, welcome, Please open this page next to this chat room and follow instructions: <http://re-fuse-day-1.meteor.com>')">#Welcome</button>

        1.
        <button ng-click="newAction('play_video',{video_id: '7YurgZC_Mh8'})">VIDEO: Live Stream</button>
        2. ........
        3. ........
        4. <button ng-click="newAction('ask_questions',1)">Questions: Present ourselves 8'</button>
        5. <button ng-click="say('Now we will have 10 minutes to read all the introductions')"># READING 10'</button>
        6. <button ng-click="say('We are going to stalk! \n Find 2 photos + 2 related short texts/quotes in 4 minutes of your target. See the list below: \n \n Thanasis -> Tzeni\nEfthimis -> Pepe\nKieran -> Roelof\nRoelof -> Iro\nGeorge -> Els\nIro -> Bas\nTzeni -> Thanasis\nRichard -> Kieran\nEls -> Efthimis\nPepe -> George\nBas -> Richard')"># STALK 4' (stopwatch)</button>
        <button ng-click="say('We have 3 more minutes')"># 3 more minutes</button>
        <button ng-click="say('We have 2 more minutes')"># 2 more minutes</button>
        <button ng-click="say('We have 1 minute to go!')"># 1 minute to go!</button>
        <button ng-click="say('Stop looking and post your 2 photos + 2 related short texts/quotes below')"># Stop looking</button>
        7. <button ng-click="randomGroupChat()"># Random group chat 1'</button>
        8.<button ng-click="newAction('play_video',{video_id: 'p0qNbwDt_Ds'})">VIDEO Pepe</button>
        9. <button ng-click="newAction('play_video',{video_id: 'VxAgcoXL95M'})">VIDEO Tzeni</button>
        10. <button ng-click="randomGroupChat()"># Random group chat 1'</button>
        11.<button ng-click="newAction('play_video',{video_id: 'Jwe4EbyyYMw?t=17m15s'})">VIDEO George 17m15s</button>
        12. <button ng-click="newAction('play_video',{video_id: '36Dhf7H7ffY'})">VIDEO Kieran</button>
        13. <button ng-click="randomvideoChat()"># One to one video chat</button> -->

</div>

    </div>
  </body>
